.nav {
    position: absolute;
    width: 1400px;
    height: 78px;
    left: 0px;
    top: 20px;
    
}

.navmenu {
    position: absolute;
    height: 28px;
    left: 46.43%;
    right: 28.57%;
    top: calc(50% - 28px/2 - 1px);
}

.Signbutton1 {
    background-color: white;
    color: black;
    font-size: 16px;
    position: absolute;
    left: 1029px;
    top: 15px;
    border-color: #bcd0e5;
    border-radius: 8px;
    height: 46px;
    width: 102px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Signbutton2 {
    position: absolute;
    left: 81.79%;
    right: 10.36%;
    top: 19.23%;
    bottom: 21.79%;
    background-color: #FF9900;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-color: #FF9900;
}

a:visited, a:link, a:hover, a:active {
    color: #2f281e;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    line-height: 28px;
}

.section1 {
    position: absolute;
    width: 1126px;
    height: 496px;
    left: 145px;
    top: 128px
}

.title1 {
    position: absolute;
    width: 518px;
    height: 108px;
    left: 145px;
    top: 211px;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}

.P1 {
    position: absolute;
    width: 458px;
    height: 95px;
    left: 145px;
    top: 349px;
}

.T1button {
    position: absolute;
    width: 175px;
    height: 53px;
    left: 145px;
    top: 489px;
    background-color: #FF9900;
    color: #FFFFFF;
    border-radius: 8px;
    border-color: #FF9900;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.T2button {
    position: absolute;
    width: 161px;
    height: 23px;
    left: 350px;
    top: 504px;
    color: #FF9900;
    text-decoration: underline;
    border: none;
    background-color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.triangle {
}

.firstpic {
    float: right;
}

.section2 {
    position: absolute;
    width: 2211px;
    height: 543px;
    left: -406px;
    top: 734px;
}

.title2 {
    position: absolute;
    height: 108px;
    left: 38.22%;
    right: 37.4%;
    top: calc(50% - 108px/2 - 217.5px);
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
}

.container1{
    position: absolute;
    width: 1095px;
    height: 204px;
    left: 567px;
    top: 162px;
    
}
.Hcard {
    position: absolute;
    height: 33px;
    left: 0%;
    right: 31.67%;
    top: calc(50% - 33px/2 - 32.5px);
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2f281e;
}

.Pcard {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 46.94%;
    bottom: 0%;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    width: 240px;
}

.card1 {
    position: absolute;
    width: 240px;
    height: 178px;
    left: 567px;
    top: 162px;
}

.card2 {
    position: absolute;
    width: 240px;
    height: 178px;
    left: 853px;
    top: 162px;

}